/* BUTTON STYLING */
.button_slide {
  border: 0px solid black;
  padding: 15px;

}

.button_slide button {
  color: rgb(8, 8, 8);

  border-radius: 0px;
  padding: 4px 9px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #61dafb;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button_slide button:hover {
  box-shadow: inset 0 0 0 50px #61dafb;
  cursor: pointer;
}
